// Place all the styles related to the Home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.home {
    width: 100vw;
    height: 100vh;
    background: #8360c3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2ebf91, #8360c3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2ebf91, #8360c3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.card {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 370px;
    overflow: hidden;
    border-radius: 10px;
}

#hencan-response {
    height: 250px; 
    overflow-y: scroll;
    transition: height .5s;
}

.card-header{
    position: relative;
}

.open_close {
    position: absolute;
    top: 5px;
    right: 5px;
    visibility: hidden;
    text-decoration: none;
    vertical-align: text-top;
}

.open_close svg {
    color: black;
}

#btn_down {
    display: none;
}

.show {
    visibility: visible;
}

.hide {
    height: 0 !important;
    padding: 0 !important;
    margin: 0 !important;
}

@media(max-width: 420px) {
    .card {
        width: calc(100% - 22px);
        bottom: 10px;
        right: 10px;
    }
}